*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: relative;
}

.help{
    display:block;
    margin: 0 auto 15px;
    text-decoration: none;
    text-align: center;
}

.help:link,.help:visited{
    color: black;
}

.help:hover, .help:active{
    color: green;
}

h1,h2,h3{
    text-align: center;
}

h1,h2{
    margin: 15px 0;
}

h1{
    font-size: 22px;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 16px;
}

form{
    width: 80%;
    margin: 0 auto;
}

label{
    text-align: center;
}

div{
    text-align: center;
}

ul{
    width: 75%;
    margin: 0 auto;
}

p{
    text-align: center;
}

li h2{
    font-size: 18px;
}

li{
    list-style: none;
    margin: 5px 0;
    border: 2px solid black;
    padding: 5px;
}

figure{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

img, figcaption{
    display: block;
    margin: 0 auto;
    width: 100%;
}

figcaption{
    font-size: 14px;
}

button{
    display: block;
    width: 150px;
    height: 30px;
    margin: 15px auto;
}

.hide{
    display: none;
}

.modal{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    animation-name: modalAnimation;
    animation-duration: 2s;
    animation-timing-function: ease;
}

.modal-wrapper{
    margin: 5% auto;
    width: 70%;
    background-color: white;
    box-shadow: 7px 4px 10px 2px rgba(0,0,0,.5);
}

.modal-title{
    display: flex;
    justify-content: flex-end;
    background-color: blue;
    color: white;
}

.modal-title p{
    align-self: center;
    text-align: center;
    width:100%;
}

.modal-content{
    padding: 20px;
    text-align: left;
}

.modal-content dt{
    font-weight: bold;
    font-size: 18px;
}

.modal-content dt::after{
    content: ":";
}

.modal-content dd{
    margin-top: 5px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px dashed lightgray; 
}

.closeBtn{
    display: block;
    text-align: right;
    padding: 5px;
    cursor: pointer;
    font-size: 25px;
}

.closeBtn:hover{
    color: red;
}

@keyframes modalAnimation{
    from{opacity: 0;}
    to{opacity: 1;}
}

@media only screen and (min-width: 600px){
    ul{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    li{
        flex:25%;
    }

    .help{
        position: absolute;
        top:0;
        right:10%;
        text-decoration: none;
    }
}